#navbar-iframe {display:none}
body {background: #eee;color: #444444;font-size: 14px;margin: 0 auto;padding: 0;position: relative;font:x-small Georgia Serif;font-size/* */:/**/small;font-size: /**/small;text-align: center;background:#eee url(http://3.bp.blogspot.com/-qnEmwOS7w14/UoRuCWIZ5LI/AAAAAAAAFU0/reVNKOzNBes/s1600/patronsax.gif);}
a:link {color:#0a7fc6;text-decoration:none;}
a:visited {color:#0a7fc6;text-decoration:none;}
a:hover {color:#000;text-decoration:underline;}
a img {border-width:0;}
#BarraSuperior {background: #3F66AB;background: -webkit-gradient(linear, left top, left bottom, from(#4170bd), to(#3d5c98));background: -moz-linear-gradient(top, #4170bd, #3d5c98);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4170bd', endColorstr='#3d5c98');height: 48px;margin-bottom: 2px;z-index: 5;position: relative;}
header {background: rgba(0, 0, 0, 0.1);top: 0;left: 0;width: 100%;z-index: 4;}
.hentry {font: 15px/20px Arial;}
.entry-content {font: 15px/20px Arial;}
#header-wrapper {width:950px;margin:0 auto 0px;}
#menu {position:absolute;z-index: 100000;width: 948px;height: 44px;padding:0px;margin:0px 0px 0px;background: url(http://1.bp.blogspot.com/-oB_Y_qS2SCA/Tq7g6wUlCaI/AAAAAAAABiA/FvqtzH_3fZY/s000/navi.png) repeat-x top;border: 1px solid #0274BE;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; }
#dmenu {float:left;height: 44px;padding:0;margin:0;}
#dmenu ul {list-style: none;padding:0;margin:0;}
#dmenu li {float: left;display: block;height: 44px;padding:0;margin:0;}
#dmenu li a {background: url("http://3.bp.blogspot.com/-1S1FSzBS4Lk/Tq7g62mhy7I/AAAAAAAABiI/kCQJYnSHXd0/s000/nav-line.png") no-repeat scroll right center transparent;color: #FFFFFF;display: block;font-size: 12px;padding: 12px 15px 12px;text-transform:uppercase;font-weight:bold;}
#dmenu li a:hover {background:#219fda;}
#mensajeform p {text-align: center;font-family: 'Yanone Kaffeesatz';font-size: 18px;line-height: 20px;color: black;background: #EACB71;padding: 4px; position:relative;margin:8px auto 5px;width: 70%;}
#mensajeform p:after {content:"";position:absolute;bottom:-10px;left:40px;border-top:10px solid #EACB71;border-left:20px solid transparent;width:0;height:0;line-height:0;}
#topright {float: right;height: 30px;padding: 0;margin:6px;background: #FFF url(http://4.bp.blogspot.com/-2mqJgbdwKbk/Tq7g7IcmTwI/AAAAAAAABiQ/WfbclyB8HvI/s000/gradient_bg.jpg) repeat-x top;border: 1px solid #000;border-radius:5px;}
.col{float:left;width: 200px;margin-top:0;margin-right:0px;margin-bottom:0px;margin-left:0;}
.col1{float:left;width:300px;margin-top:0;margin-right:0px;margin-bottom:0px;margin-left:0;}
.col2{float:left;width:728px;margin-top:0;margin-right:0px;margin-bottom:0px;margin-left:0;}
.col3{float:left;width:222px;margin-top:0;margin-right:0px;margin-bottom:0px;margin-left:0;}
.col4{float:left;width:336px;margin-top:0;margin-right:0px;margin-bottom:0px;margin-left:0;}
.bloque728 {background-image: url(http://2.bp.blogspot.com/-j4wKXZLYYvk/UlmQwIVbMRI/AAAAAAAAFBc/xS8xKScm-dk/s1600/foto+bloque+sitio+web+sane.jpg); font-style: italic;height: 120px;width: 950px;border-radius: 10px;margin-bottom: 15px;margin-top: 10px;}
.bloquetitulo {padding: 5px 0;float: inherit;background: #fff;background-image: url(http://1.bp.blogspot.com/-mA6d2-8qFh0/ULKYpRY3bSI/AAAAAAAAGkc/BEC63oCEG6s/s1600/nota.jpg);border: 1px solid #ccc;font-style: italic;margin-top: 10px;font-size: 13px;color: #999999;text-transform: uppercase;}
.bloquefinal{float: left;width:300px;margin: 15px;margin-top: 0px;height:250px;}
.box {background: #FFF;float: left;width:300px;margin: 15px;margin-top: 0px;height:250px;}
.box1 {background: #FFF;float: left;width:240px;margin: 15px;margin-top: 0px;height:250px;}
.effect7{position:relative;}
.effect7:before, .effect7:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:0;bottom:0;left:10px;right:10px;-moz-border-radius:100px / 10px;border-radius:100px / 10px;}
.effect7:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
#header-inner {background-position: center;margin-left: auto;margin-right: auto;}
#header { width:470px;float:left;margin: 0px;text-align: left;color:#666666;overflow:hidden;}
#headerads {width:470px;float:right;padding:10px 0px 0;margin:0;overflow:hidden;}
#header h1 {margin:5px 5px 0;padding:15px 0px .25em 20px;line-height:25px;text-transform:uppercase;letter-spacing:0em;font-size:20px;font-weight:bold;color:#000;}
#header a {color:#000;text-decoration:none;}
#header a:hover {color:#000;text-decoration:underline;}
#header .description {font-size: 14px;margin: 0 16px 20px;padding: 0 0 0 20px;color: #444444;}
#header img {padding-top:20px ;margin-left: 0;margin-right: auto;}
.main-navigation {margin: 0;height:44px;clear: both;width: 950px;background-color: #3F69AF;}	
.main-navigation a {color: #fff;}		
.main-navigation ul ul li {background: #47b9e6;}
.sf-menu, .sf-menu * {margin: -2px;padding:0;list-style:none;}
.sf-menu {line-height:	1.0;}
.sf-menu ul {position:absolute;top:-999em;width:10em; /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%;}
.sf-menu li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li {float:left;position:relative;margin:0;}
.sf-menu a {display:block;position:relative;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {left:0;top:44px; /* match top ul list item height */z-index:99;}
.sub-navigation .sf-menu li:hover ul,
.sub-navigation .sf-menu li.sfHover ul {top:2.1em; /* match top ul list item height */left:0;}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {left:10em; /* match ul width */top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */top:0;}
.sf-menu {float:left;margin:0;padding: 0;}
.sf-menu a {display: block;margin:0;padding: 15px 15px;font-size: 12px;letter-spacing: 0px;color: white;text-transform: uppercase;font-weight: bold;border:1px solid transparent;}
.sf-menu li li a {border: 0;color: #ffffff;}
.main-navigation .sf-menu li:hover, .main-navigation .sf-menu li.sfHover,
.main-navigation .sf-menu a:focus, .main-navigation .sf-menu a:hover, .main-navigation .sf-menu a:active {background: url(http://3.bp.blogspot.com/---caeOIsRZA/Uc-1LTQGzwI/AAAAAAAAEiI/rp0MDRoL-Wk/s73/button.png) repeat-x bottom;}
.sf-menu a.sf-with-ul {padding-right: 	2.25em;min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator {position:absolute;display:block;right:.75em;top:.9em; /* IE6 only */width:10px;height:10px;text-indent:-999em;overflow:	hidden;background:		url(http://3.bp.blogspot.com/-LL-VhjU2Af4/Tq7g7aDOTsI/AAAAAAAABig/uUjE10faF4s/s000/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */}
.sub-navigation .sf-sub-indicator {background:url(http://1.bp.blogspot.com/-h14G4J0hDpo/Tq7g7tkR8qI/AAAAAAAABio/LxwlrFVhT0A/s000/arrows-000000.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
    top:1.3em;background-position: 0 -100px; /* use translucent arrow for modern browsers*/}
.sub-navigation a > .sf-sub-indicator {  /* give all except IE6 the correct values */top: .4em;background-position: 0 -100px; /* use translucent arrow for modern browsers*/}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px; /* arrow hovers for modern browsers*/}
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
.sub-navigation .sf-menu ul .sf-sub-indicator { background-position:  -10px 0; top: .65em; }
.sub-navigation .sf-menu ul a > .sf-sub-indicator { background-position:  0 0; top: .65em; }
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {background-position: -10px 0; /* arrow hovers for modern browsers*/}
#outer-wrapper {width: 952px;margin:0 auto;padding:0px 0;text-align:left;font: 13px/20px Arial,Helvetica,sans-serif;}
#content-wrapper {width: 950px;margin: 0 auto;padding: 0;background:#fff url(http://4.bp.blogspot.com/-NX2dUJpxv3g/T_Z6Br5nAQI/AAAAAAAAAqQ/1H42JJ5wMLY/s1600/mainbg22.png) repeat-y top right;border-radius: 5px;overflow: hidden;}
#contentarea-wrapper {width: 925px;margin: 10px auto;padding: 0;margin-top: 0px;}
#mainarea-wrapper {width:610px;float:left;}
#main-wrapper {width: 610px;padding:0;margin:0;overflow: hidden;}
#sidebar-wrapper {width: 300px;float: right;word-wrap: break-word;overflow: hidden;margin-top: -6px;}
#main-wrapperb {width: 949px;padding:0;margin:0;overflow: hidden;}
#sidebar-wrapperb {width: 300px;float: right;word-wrap: break-word;overflow: hidden;}
h2 {border-bottom: 1px solid #DDDDDD;color: #555555;font-family: Tahoma,Arial,Verdana;font-size: 14px;font-weight: bold;margin: 0 0 10px;padding: 5px 0px 5px;}
.sidebar h2 {background: #04B1F1;color:#fff;padding: 10px;text-shadow: none;font-family: Helvetica Neue,Arial,sans-serif;}
h2.date-header {margin:0;display:none;}
.breadcrumbs, .breadcrumbs a {color:#ccd0bc;font-size: 10px;font-style: italic;margin-top: 10px;margin-bottom: 5px;padding-bottom: 7px;}
.breadcrumbs{ border-bottom: 1px ridge #E6E6E6;}
.post {margin:0 0 0;margin-bottom: 10px;padding: 0px;}
.post h1 {color: #2C78D5;font-weight: bold;font-size: 20px;line-height: 24px;padding: 0;overflow:hidden; margin-top:10px;margin-bottom:10px;}
.post h1 a, .post h1 a:visited, .post h1 strong {display:block;text-decoration:normal;color: #2C78D5;font-weight:normal;}
.post h1 strong, .post h1 a:hover {color: #2C78D5;text-decoration:underline;}
.post h2 {color: #2C78D5;font-weight: bold;font-size: 16px;line-height: 20px;margin: 0;margin-top:0px;padding: 2px;overflow:hidden;height:18px;}
.post h2 a, .post h2 a:visited, .post h2 strong {display:block;text-decoration:normal;color: #2C78D5;font-weight:normal;}
.post h2 strong, .post h2 a:hover {color: #2C78D5;text-decoration:underline;}
.post-body {margin:0 0 .75em;line-height:1.6em;}
.post-body blockquote {line-height:1.3em;  }
.post-footer {margin: .75em 0;color:#999999;font-size: 10px;font-weight:bold;}
.comment-link {margin-left:.6em;}
.post img, table.tr-caption-container {padding:0px;}
.tr-caption-container img {border: none;padding: 0;}
.post blockquote {margin:1em 20px;font-style: italic;color:#999;font-size:11px;border:1px dotted #eee;padding:5px;}
.post blockquote p {margin:.75em 0;}
#comments h4 {clear: both;color: #333333;font: 24px/26px georgia,times,serif;margin: 10px 0 15px;width: 100%;}
#comments, #comments ol, #comments ol li, #comments ol li.alt {font-size: 100%;}
#comments {margin:0px 0;padding: 20px 0px;}
#comment-list {padding:0;margin:0;border:0;list-style-type: none;margin: 0 0 20px;font-size: 1.75em;}
.commentlistdiv {padding:0;margin:0;border:0;list-style-type: none;margin-bottom: 20px;font-size: 1.75em;}
.commentlistdiv h1 {font-size: 1.3em;color: #366799;line-height: 1.5em;}
.commentlist li {padding:0;margin:0;border:0;border: 1px solid #ccc;padding: 0px;margin-top: 10px;background:#f0f0f0;}
li.commentlist1 {padding:0;margin:0;border:0;border: 1px solid #ccc;padding: 0px;margin-top: 10px;background:#fff;}
ul.commentlist {list-style-type: none;margin:0 auto;padding:0;}
.commentlist li.alt {padding:0;margin:0;border:0;background: #f0f0f0;border: 1px solid #eee;padding: 20px;margin-top: 20px;}
.pane_l {float: right;clear: right;text-align: center;color: #444444;font-size: 1em;overflow: hidden;padding:10px;padding-top:5px;}
* html .pane_l{margin-top:15px; }
.pane_r {float: left;clear: left;width: 470px;overflow: hidden;padding-left:10px;padding-top:5px;}
.c_author {	display: block;font-size: 14px;font-style: normal;font-weight: bold;letter-spacing: -0.05em;padding-top: 9px;}
.c_author a:link,
.c_author a:visited{font-style: normal;color: #333;text-decoration:none;}
.c_author a:hover {color: #333;text-decoration:none;}
.comments .comments-content .comment-thread ol {list-style-type: none;padding: 0;text-align: left;}
.comments .comments-content .inline-thread {padding: 0;}
.comments .comments-content .comment-thread {margin: 0;}
.comments .comments-content .comment-thread:empty {display: none;}
.comments .comments-content .comment-replies {margin: 0 20px 0 66px;}
.comments .comments-content .comment {margin-bottom:0px;padding-bottom:0px;}
.comments .comments-content .comment:first-child {padding-top:0px;}
.comments .comments-content .comment:last-child {border-bottom:0;padding-bottom:0;}
.comments .comments-content .comment-body {position:relative;}
.comments .comments-content .user {font-style:normal;font-weight:bold;}
.comments .comments-content .blog-author a {font-style:italic;padding:2px;border:1px solid #BE961D;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.comments .comments-content .blog-author a:hover {text-decoration:none; background:#EFD996;}
.comments .avatar-image-container  {position:relative;float: left; overflow: hidden; width: 45px ; height: 45px;max-height: 60px;margin:0 0 5 -10px;padding: 0px;border: 4px solid #B1913A;border-radius: 2px; }
.comments .avatar-image-container img { width: 45px; height: 45px;max-width:45px;border-radius:0px;}
.avatar-image-container img{height:50px;width:50px;padding: 0px;margin:0px; border: 0px solid #BDBDBD;}
.comments .comment-block { position: relative; margin-top: 10px; margin-left: 80px; padding: 10px; background: #E7E3D6;border: 5px solid  #D5B96A;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
.comment-thread li .comment-block:before { position: absolute; left: -26px;content:"\25C4";font-size:30px; color: #D5B96A;}
.comment-thread li li .comment-block:before { content: ""; margin-bottom: 0px;}
.c_date {font-size: 13px;margin: 0px 0px 0px 0px;padding-top:5px;color: #666;font-weight:normal}
.c_approved {color: #aaa;font-size: 0.9em;}
.comment-form { background:transparent; border:0px solid #FF8A00;margin:0 10px 20px 0px; padding:10px 0 0;}
* html .comment-form {  width:87%; }
.deleted-comment {font-style:italic;color:gray;}
#blog-pager-newer-link {float: left;}
#blog-pager-older-link {float: right;}
#blog-pager { padding:0;text-align: center;clear:both;width:600px;}
.feed-links {clear: both;line-height: 2.5em;}
.sidebar { color: #666666;line-height: 13px;font-size:11px;}
.sidebar ul {list-style:none;margin:0 0 0;padding:0 0 0;}
.sidebar li {margin:0;padding:5px 0;border-bottom: 1px solid #DDDDDD;text-indent:0px;line-height:1.5em;}
.sidebar .widget { margin: 0 0 15px;padding: 0;}
.main .widget {margin:0 0 1.5em;padding:0 0 1.5em;}
.main .Blog {border-bottom-width: 0;}
.profile-img { float: left;margin-top: 0;margin-right: 5px;margin-bottom: 5px;margin-left: 0;padding: 4px;border: 1px solid #cccccc;}
.profile-data {margin:0;text-transform:uppercase;letter-spacing:.1em;font: normal normal 78% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;color: #999999;font-weight: bold;line-height: 1.6em;}
.profile-datablock {margin:.5em 0 .5em;}
.profile-textblock {margin: 0.5em 0;line-height: 1.6em;}
.profile-link { font: normal normal 78% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;text-transform: uppercase;letter-spacing: .1em;}
#bottom-menu { width: 100%; padding: 0px;margin:10px 0;overflow:hidden;}
#bottom-menu-inner { margin: auto; padding: 10px 0; width: 950px; position: relative;overflow:hidden; }
#bottom-menu-left { width: 310px; margin: 0 10px 0 0px; float: left; display: inline;overflow:hidden; }
#bottom-menu-center { width: 310px; margin: 0 10px 0 0; float: left; display: inline;overflow:hidden; }
#bottom-menu-right { width: 310px; margin: 0 0px 0 0; float: right; display: inline; overflow:hidden;}
.showpageArea a {text-decoration:underline;}
.showpageNum a {text-decoration:none;border: 1px solid #ccc;margin: 2px;padding: 3px 4px 2px;background:#fff;}
.showpageNum a:hover {border: 1px solid #000;background-color:#fff;}
.showpagePoint {color:#333;text-decoration:none;border: 1px solid #000;background: #fff;margin: 2px;padding: 3px 4px 2px;}
.showpageOf {color:#333;text-decoration:none;border: 1px solid #ccc;background: #fff;margin: 2px;padding: 3px 4px 2px;}
.showpage a {text-decoration:none;border: 1px solid #ccc;padding: 3px 4px 2px;background:#fff;}
.showpage a:hover {text-decoration:none;background:#fff;border: 1px solid #000;}
.showpageNum a:link,.showpage a:link {text-decoration:none;color:#333;}
footer {background-color: rgb(225, 236, 248);border-bottom-color: rgb(41, 141, 190);border-top-color: rgb(41, 141, 190);border-top-style: solid;border-top-width: 5px;clear: both;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 12px;height: 39px;line-height: 15.59375px;margin-bottom: 0px;margin-top: 5px;padding-bottom: 11px;padding-top: 6px;text-align: center;width: 100%;}
.comment-thread  ol { counter-reset: contarcomentarios; }
.comment-thread li .comment-header:after { content: counter(contarcomentarios,decimal); counter-increment: contarcomentarios; float:right; font-size: 20px; color: #BDBDBD; margin-top: -4px;}
.comment-thread ol ol { counter-reset: contarbis; }
.comment-thread li li .comment-header:after { content: counter(contarcomentarios,decimal) "." counter(contarbis,decimal); counter-increment: contarbis; float: right; font-size: 16px; color: #BDBDBD; margin-top: -4px; }
.slide_likebox {float:right;width:288px;height:345px;background: url(https://lh6.googleusercontent.com/-VW_GzzYnZJ0/TkiZQFcBc2I/AAAAAAAABmg/fa9_qWV8Cu4/fb_bg.png) no-repeat !important;display:block;right:-250px;
                padding:0;position:fixed;top: 130px;z-index:1002;border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px; }
div.likeboxwrap {margin-top:2px;margin-left:-5px;width:238px; height:325px;background-color:#fff;overflow:hidden;border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px; }
div.likeboxwrap iframe {margin:-1px}
.comment-link{text-align: center;}
#comments h4 {text-align: center;}
.post-footer .author-profile {font-size:90%;}
.post-footer .author-profile img {margin-right: 10px;-moz-box-shadow: 0 0 3px #333;-webkit-box-shadow: 0 0 3px #333;box-shadow: 0 0 3px #333;-moz-transform: rotate(-4deg);-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}
.post-footer .author-profile,#HTML8,#HTML2,#Text1,#Text2 {clear: both;width: 90%;margin: 0 auto;padding: 10px;border: 1px solid #ccc;font-style: italic;background: #fff;background-image: url(http://1.bp.blogspot.com/-mA6d2-8qFh0/ULKYpRY3bSI/AAAAAAAAGkc/BEC63oCEG6s/s1600/nota.jpg);margin-top: 15px;}
#pageshare {position: fixed;bottom: 26%;margin-left: -104px;float: left;border-radius: 5px;-webkit-border-radius: 5px;z-index: 30;background-color: rgba(255, 255, 255, 1);color: #FFF;font-size: 18px;padding: 5px;width: 70px;-webkit-transform: rotate(-8deg);border: 4px rgba(82, 53, 228, 0.13);border-style: solid;z-index: 10;}
#pageshare .sbutton {float: center;clear:both;margin:5px 5px 0 5px;}
.twitter iframe {width: 52px !important;}
.fb_edge_comment_widget {margin-right: -150px;margin-top:-100px;}